<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Homework: Flipping Cards</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<input type="text" placeholder="Enter question here" v-model=question>
<input type="text" placeholder="Enter answer here" v-model=answer>

  <button v-  on:click="category">History</button>
  <button v-  on:click="category">Science</button>
  <button v-  on:click="category">Math</button>

    <button v-  on:click="submit">Submit</button>


<div id="flashcards-app">
    
  <!--   Card 1   -->
  
  <div class="card">
    <div class="top history" ></div>
    <div class="side1 ">
      <h1>What year was IUPUI founded?</h1>
    </div>
    <click v-on:click="toggleCard"></click>
    <div class="side2 hide" >
      <h1>1969</h1>
    </div>
  </div>


  <!--  Card 2    -->
  <div class="card">
    <div class="top math"></div>
    <div class="side1 ">
      <h1>What is 2+2?</h1>
    </div>
    <!--     In your template, remove the 'hide' class from the side1 and side2 elements. 'hide' class should be conditionally rendered through the 'flipped' value in the card -->
    <div class="side2 hide">
      <h1>Fish</h1>
    </div>
  </div>
  
  
  <!--   Card 3   -->
  <div class="card">
    <div class="top science" ></div>
    <div class="side1 ">
      <h1>Is mayonnaise an instrument?</h1>
    </div>

    <div class="side2 hide" >
      <h1>No</h1>
    </div>
  </div>
  

  
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
